<header>
<link rel="stylesheet" href="app.component.css">
</header>

<h1>Globomatics Bike System</h1>

<div id="main" ng-app>
  <nav>
    <a [routerLink]="['/home']">Carga Garantia</a>
    <a [routerLink]="['/admin']">Listado de garantias</a>
    <a [routerLink]="['/galeria']">Galeria de fotos</a>
    <a [routerLink]="['/about']">Sobre nosotros</a>
 </nav>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


<router-outlet></router-outlet>

<hr>

<footer>
    <div class="contenedor-footer-all">
    <div class="contenedor-body">
        <div class="columna1">
            <h2>Mas información</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis repellendus quis facere aspernatur quo ea ullam perferendis quisquam optio consectetur non animi est consequatur culpa rerum pariatur doloremque qui perspiciatis ab atque sapiente, eos sit eveniet! Maxime libero aspernatur inventore fugit laboriosam corrupti sit voluptates. Delectus autem eveniet consequuntur necessitatibus!</p>
        </div>
        <div class="columna2">
            <h2>Redes Sociales</h2>
            <div class="row">
                <img src="../assets/Images/iconos/facebook.png" alt="">
                <label>Siguenos en Facebook </label>
            </div>
            <div class="row">
                <img src="../assets/Images/iconos/instagram.png" alt="">
                <label>Siguenos en Instagram</label>
            </div>
            <div class="row">
                <img src="../assets/Images/iconos/linkedin.png" alt="">
                <label>Siguenos en LinkedIn </label>
            </div>
            <div class="row">
                <img src="../assets/Images/iconos/twitter.png" alt="">
                <label>Siguenos en Twitter </label>
            </div>
            <div class="row">
                <img src="../assets/Images/iconos/youtube.png" alt="">
                <label>Siguenos en YouTube</label>
            </div>
        </div>
    </div>
</div>
<div class="contenedor-footer">
    <div class="copyright">
        <p>© Todos los derechos reservados por Orpianesi Marina</p>
    </div>
</div>
</footer>

